.inputWrapper {
  border-radius: 6px;
  border: 1px solid #656293;
  background: hsla(0, 0%, 100%, 0.01);
  display: flex;
  align-items: center;
  input {
    color: #fff;
    font-size: 1.6rem;
    background: hsla(0, 0%, 100%, 0.01);
    width: 100%;
    padding: 12px 14px;
    border: none;
  }
}
.focus {
  border: 1px solid #8a3cff;
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
  background-color: transparent;
  border: none;
}
