.message {
  padding: 4px 10px;
  background-color: var(--dark43);
  border-radius: 4px;
  display: inline-block;
  width: fit-content;
  // margin-left: auto;
  // margin-right: 0;
  font-size: 1.45rem;
  margin-right: auto;
  margin-left: 0;
  &.me {
    max-width: 80%;
  }
}
.user {
  display: flex;
  gap: 6px;
  max-width: 80%;
  margin-left: auto;
  margin-right: 0;
}
.avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.userInfo {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.username {
  font-weight: 500;
  font-size: 1.5rem;
}
