// Reset SCSS
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
ul,
ol {
  list-style: none;
}
input,
textarea,
select,
button {
  outline: none;
  font-size: 14px;
  font: inherit;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img,
picture {
  display: block;
  max-width: 100%;
}
// End Reset SCSS
