.loading {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  pointer-events: none;
  border: 4px solid transparent;
  border-color: #eee;
  border-top-color: var(--purple);
  border-radius: 50%;
  animation: loadingspin 1.2s linear infinite;
  @keyframes loadingspin {
    100% {
      transform: rotate(360deg);
    }
  }
}
