$width: 200px;
$height: 200px;
.imageUpload {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: $width;
  height: $height;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--dark33);
}
.inputFileHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.upload {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  img {
    width: 80px !important;
    height: 80px !important;
  }
  span {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
.preview {
  overflow: hidden;
  border-radius: 50%;
  &:hover .buttonDelete {
    opacity: 1;
    visibility: visible;
  }
  img {
    width: $width;
    height: $height;
    object-fit: cover;
  }
}
.buttonDelete {
  display: flex;
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  transition-property: all;
  color: #ef4444;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s linear;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
