.footer {
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 6px 0;
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }
}
.footerContact {
  display: flex;
  justify-content: center;
  gap: 12px;
  a {
    color: white;
  }
}
